@font-face {
  font-family: "iconfont"; /* Project id 4699833 */
  src: url('iconfont.woff2?t=1727609131983') format('woff2'),
       url('iconfont.woff?t=1727609131983') format('woff'),
       url('iconfont.ttf?t=1727609131983') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-1_zhaopian:before {
  content: "\e655";
}

.icon-a-1_shouye:before {
  content: "\e656";
}

